requests>=2.31.0
python-dotenv>=1.0.0
fastapi>=0.104.1
pydantic>=2.4.2
uvicorn>=0.23.2
sentence-transformers>=2.2.2
torch==2.0.1+cpu
-f https://download.pytorch.org/whl/torch_stable.html
numpy>=1.24.0
setuptools>=68.0.0
wheel
build
